body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/assets/IMG/map/back.png") no-repeat center center/cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 3vw;
    max-width: 60%;
    width: 100%;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    margin: 2vw; /* Увеличил отступ для сохранения масштаба на мобильных устройствах */
  }
  
  h1 {
    font-weight: 900;
    font-size: 6vw;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  
  .subheading-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  
  .subheading {
    font-size: 1.5vw;
    flex: 1;
    text-align: center;
  }
  
  .subheading:first-child {
    text-align: left;
  }
  
  .subheading:last-child {
    text-align: right;
  }
  
  .buttons {
    margin: 3vw 0;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
  }
  
  .main-button {
    padding: 1vw 2vw;
    text-decoration: none;
    color: black;
    border: 0.0625rem solid black; /* 1px equivalent */
    border-radius: 0.3125rem; /* 5px equivalent */
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 1vw; /* Добавил отступ снизу для разделения кнопок */
  }
  
  .contact-button img {
    width: 1.5vw;
    margin-right: 0.5vw;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
    gap: 2rem;
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons a img {
    width: 3vw;
  }
  
  @media (max-width: 768px) {
    :root {
      font-size: 4vw;
    }
  
    .card {
      padding: 6vw;
      margin: 2vw; /* Увеличил отступ для сохранения масштаба на мобильных устройствах */
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .subheading {
      font-size: 1rem;
    }
  
    .main-button {
      padding: 2vw 3vw;
    }
  }
  
  @media (max-width: 480px) {
    :root {
      font-size: 5vw;
    }
  
    .card {
      padding: 8vw;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .subheading-container {
      flex-direction: column;
    }
  
    .subheading {
      font-size: 0.875rem;
    }
  
    .main-button {
      padding: 2.5vw;
      flex: 0 1 calc(100% - 2vw); /* Перенос кнопок на полную ширину */
      margin-bottom: 2vw; /* Увеличил отступ снизу для разделения кнопок */
      font-size: 4vw;
    }
  .contact-button img {
    width: 5vw;
    margin-right: 0.8vw;
  }
    .social-icons a img {
      width: 4vw;
    }
  }
